.wrap
  position: fixed
  height: 100%
  width: 100%

  display: flex
  flex-direction: column
  justify-content: center

  font-family: system
  background-color: #f8f8fb
  color: #3e3b3b

.friday
  text-align: center
  font-size: 50vw

footer
  color: #9e9b9b
  text-align: center
  font-size: 2rem
